:root {
  --black-color: #1a1a1a;
  --darkgray-color: #444444;
  --lightgray-color: #777777;
  --lightwhite-color: #f0f0f0;
  --white-color: #fff;
  --ivory-color: #f3f5fa;
  --red-color: #ff0000;
  --orange-color: #ed3c0d;
  --yellow-color: #f0aa00;  
  --green-color: #18d26e;
  --button-color: #5f73b3;
  --hover-color: #3498DB;
}   

body, html {
  min-height: 100vh;
  margin: 0;
  background-color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
}

#app {
  display: flex;
  min-height: 100vh;
}

#control-panel {
  width: 25%;
  background-color: #363636;
  color: var(--white-color);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.logo {
  width: 20%;
}

#commands {
  position: absolute;
  right: 10px;
  top:10px;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  height: 100vh;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}

button {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-color);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color .3s;
}

button:hover {
  transition: background-color .3s;
  background-color: var(--hover-color);
}

#map-container {
  width: 75%;
  background-color: var(--white-color);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: var(--white-color);
  font-size: 14px;
  text-align: center;
  background: var(--black-color);
  box-sizing: border-box;
  z-index: 9999;
  padding: 5px;   
}

.mt-3{
  margin-top: 1.5rem;
}

.gm-style-iw.gm-style-iw-c button{
  display: none!important;
}


@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}
.drop {
  animation: drop 0.3s linear forwards var(--delay-time);
}

.gm-style-iw-t {
  -webkit-animation: fadeIn 300ms; /* Chrome, Safari, Opera */
  animation: fadeIn 300ms;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.zoneLogo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-danger{
  background-color: #ed3c0d;
}
.btn-danger:hover{
  background-color: #ff0000;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.d-flex{
  display: flex;
}

.w-25{
  width: 25%;
}

.w-75{
  width: 75%;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#path{
  margin-top: 5px;
}

hr{
  width: 70%;
  border-color: var(--lightgray-color);
}

@media only screen and (max-width: 768px) {
  #app {
    flex-direction: column;
  }

  #control-panel {
    width: 100%;
  }

  #commands {
    display: none;
  }

  #map {
    width: 100%;
    height: 100vh;
  }

  footer {
    position: relative;
  }
}